html, body {
    height: 100%;
}

:root {
    height: 100%;
    --toolbar-height: 40px;
}

.container {
    height: 100%;
    margin: 0;
}

.tool {
    display: inline-block;
    color: white;
    background-color: black;
    border-radius: 2px;
    position: relative;
}

.tool ul {
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}

.hasBorder {
    border-width: 0 0.25em 0.25em 0;
    border-color: white;
    border-style: solid;
    border-radius: 0;
}

.horizontal-border {
    width: 100%;
    height: 0.25em;
    background-color: white;
    float: left;
    position: relative;
}

.vertical-border {
    height: 100%;
    width: 0.25em;
    background-color: white;
    float: left;
    position: relative;
}
.addImage {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: inline-block
}

.image {
    display: flex;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-width: 0;
    position: relative;
    background-color: black;
    display: inline-block;
}

.tool:hover ul{
    display: block;
}

.overlay {
    position: absolute;
    color: white;
    overflow-wrap: break-word;
    z-index: 1;
}

.topLeft {
    top: 0.25em;
    left: 0.5em;
}

.topRight {
    text-align: right;
    top: 0.25em;
    right: 0.5em;
}

.botLeft {
    bottom: 0.25em;
    left: 0.5em;
}

.botRight {
    bottom: 0.25em;
    right: 0.5em;
}

.item {
    display: inline-block;
    margin: 0 0.25em 0 0.25em;
}

.button:hover {
    cursor: pointer;
}

.imageOverlay {
    background-size: 1em;
    width: 1em;
    height: 1em;
}

.post .imageOverlay {
    background: transparent;
}

.metadata {
    border-style: solid;
    border-width: 0 0 0 0;
    margin: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
}

.metadata-text {
    margin: 0.25em 0.5em 0.25em 0.5em;
    height: calc(100% - 2em);
    color: white;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

.image-container {
    display: inline-block;
}

#root-container {
    height: 100%;
    width: 100%;
    position: relative;
}
#toolbar {
    overflow: visible;
    position: relative;
    height: var(--toolbar-height);
}

#grid {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    padding: 0;
    height: calc(100% - var(--toolbar-height));
}

#image {
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}
#imageSelector {
    width: 120px;
}