html, body {
    height: 100%;
    line-height: 1.42857143;
}

:root {
    height: 100%;
    --toolbar-height: 40px;
}

.container {
    height: 100%;
    margin: 0;
}

#viewer-container {
    height: calc(100% - 83px);
    width: 100%;
    background-color: #4d4f53;
}

.tool {
    display: inline-block;
    color: white;
    background-color: black;
    border-radius: 2px;
    position: relative;
}

.tool ul {
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}

.hasBorder {
    border-width: 0 0.25em 0.25em 0;
    border-color: white;
    border-style: solid;
    border-radius: 0;
}

.horizontal-border {
    width: 100%;
    height: 5px;
    background-color: #4d4f53;
    float: left;
    position: relative;
}

.vertical-border {
    height: 100%;
    width: 5px;
    background-color: #4d4f53;
    float: left;
    position: relative;
}
.addImage {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: inline-block
}

.image {
    display: flex;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-width: 0;
    position: relative;
    background-color: black;
    display: inline-block;
}

.hideCursor {
    cursor: none !important;
}

.tool:hover ul{
    display: block;
}

.overlay {
    position: absolute;
    color: white;
    overflow-wrap: break-word;
    z-index: 1;
}

.topLeft {
    top: 0.25em;
    left: 0.5em;
    cursor: pointer;
}

.topRight {
    text-align: right;
    top: 0.25em;
    right: 0.5em;
}

.botLeft {
    bottom: 0.25em;
    left: 0.5em;
}

.bot {
    bottom: 0.5em;
    left: 50%;
    width: 50%;
    margin-left: -25%;
}

.botRight {
    bottom: 0.5em;
    right: 0.5em;
}

.item {
    display: inline-block;
    margin: 0 0.25em 0 0.25em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: none;
    border-radius: 5px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 40px;
    border-radius: 5px;
    background: #8c1515;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.imageOverlay {
    background-size: 1em;
    width: 1em;
    height: 1em;
}

.post .imageOverlay {
    background: transparent;
}

.metadata {
    border-style: solid;
    border-width: 0 0 0 0;
    margin: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
}

.metadata-text {
    margin: 0.25em 0.5em 0.25em 0.5em;
    height: calc(100% - 2em);
    color: white;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

.image-container {
    display: inline-block;
}

#root-container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}

#titlebar {
    padding: 6px 0 6px 10px;
    background-color: #8c1515;
    font-size: 50px;
    font-family: 'Source Serif Pro';
    color: white;
}

#toolbar {
    display: none;
    overflow: visible;
    position: relative;
    height: var(--toolbar-height);
}

#navigation-panel {
    width: 300px;
    height: 100%;
    float: left;
}

#navigation-panel div {
    width: 100%;
    font-family: 'Open Sans', 'sans serif';
    color: #ffffff;
    background-color: #4d4f53;
}

.panel-title {
    font-size: 16px;
    border-bottom: 5px solid #2e2d29;
    padding: 3px 0 3px 10px;
}

.sub-title {
    border-bottom: 3px solid #2e2d29;
    font-size: 14px;
    padding: 3px 0 3px 20px;
}

.sub-title:hover {
    cursor: pointer;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    float: right;
    margin: 3px 6px 0 0;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#tools-viewer, #layers-viewer {
    height: 25%;
}
#metadata-viewer {
    height: 50%;
}

#grid-container {
    width: calc(100% - 300px);
    float: left;
    height: 100%;
    padding-bottom: 10px;
}

#image-info {
    border-bottom: 5px solid #2e2d29;
    font-family: 'Open Sans', 'sans serif';
    font-size: 16px;
    color: #ffffff;
    padding: 3px 0 3px 10px;
}

#grid {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    height: calc(100% - 16 * 1.42857143px - 11px);
    width: 100%;
    background-color: black;
}

#image {
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}
#imageSelector {
    width: 120px;
}